snippet main "int main() {}" b
/** 
* @File: `!p snip.rv ="{0}".format(snip.basename)`
* @Author: ＞◡❛料峭
* @Date: `date +"%Y-%m-%d"`
*/ 


#include <stdio.h>

int main() {
	$0
	return 0;
}
endsnippet

snippet sort "void sort(int array[]) {...}" b
void sort(int array[]) {
	int tmp;
	for(int i = 0; i < (sizeof(array) - 1); i++) {
		if(array[i] > array[i+1]) {
			tmp = array[i];
			array[i+1] = array[i];
			array[i]   = tmp;
		}
	}
}
endsnippet
