snippet <b1> "空行" b
<br> 


$0
endsnippet


snippet <b3> "空行" b
<br><br>



$0
endsnippet


snippet <hr> "分割线" b
<br><br><hr>




$0 
endsnippet

snippet | "表格" b
|1			|2			|3			|
|---		|---		|---		|
|$0
endsnippet


snippet filename "当前文件名" b
## `!p snip.rv ="{0}".format(snip.basename)`
$0
endsnippet


snippet image "插入图片" b

![]($0)

endsnippet

snippet link "链接" b

[$0]()

endsnippet


snippet 0 "空格" b
&nbsp; &nbsp; $0
endsnippet

