snippet springBootDatasourceYmlConfig "springboot 数据库连接配置" b
spring:
    datasource:
		driver-class-name: com.mysql.cj.jdbc.Driver 
		url: jdbc:mysql://192.168.1.4:3306/forum
		username: mybeavers
		password: zhaojingwei12
		type: com.alibaba.druid.pool.DruidDataSource
	mvc:
		dispatch-options-request: true


mybatis:
	type-aliases=package: org.mybeavers.forum.pojo
	mapper-locations: classpath:org.mybeavers.forum.mapper/*.xml
endsnippet
