# this is a comment
snippet json "json snippets"
	"${1:CodeName1}":{
        "prefix": "${2:snippets}",
        "body": [
			${0:...}
        ],
		"description": "${3:A description of the snippet.}",
        "scope": "${4:language}"
    }



